html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #222;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    background-color: #2e2e2e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #28a745;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 16px;
    color: #ccc;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    background-color: #444;
    border: 1px solid #666;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

.radio-group {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}

.radio-group label {
    color: #ccc;
    font-size: 16px;
    cursor: pointer;
}

button {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

.footer {
    text-align: center;
    margin-top: 35px;
}

.footer a {
    color: #4CAF50;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-text {
    font-size: 0.8em;
    color: #888;
    margin: 5px 0;
}
